.container {
    margin: auto;
    max-width: 1000px;
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: column;
}


.scoreHolders {
    margin-top: 1em;
    width: 95%;
    align-self: center;
    background-color: #222;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

}

.names {
    /* display: flex; */
    /* justify-content: space-between; */
    width: 400px;
}

.index {
    align-self: center;
    display: inline-block;
}

.name {
    background-color: #444;
    width: 90%;
    padding: .5em;
    border-radius: 2px;
    display: inline-block;
    margin-left: 1em;

}

.point {
    background-color: #444;
    padding: .5em 3em;
}

.container2 {
    margin-top: 2em;

}

.heading2 {
        max-width: 600px;
}

.subHeading {
    margin-top: 1em;
    font-weight: 600;
    text-decoration: underline;
}

.listItem {
    margin: 2em auto;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1em;
}

.note {
    max-width: 600px;
    font-size: .9rem;
}

.formContainer {
    padding: 1.2em 1em;
    background-color: #222;
    text-align: center;
    margin: auto;
    margin-top: 4em;
    width: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.note2 {
    font-size: .9rem;
    margin-bottom: 1em;
    text-align: left;

}

.urlField {
    width: 70%;
    padding: .4em .7em;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: .8em;
    text-align: center;


}

.btn {
    margin-top: 10px;
    padding: .7em 2em;
    font-weight: 800;
    color: #FFF;
    background-color: blue;
    border: none;
    border-radius: 20px;
    font-weight: 800;
    font-size: .9rem;
}

.btn:hover {
    cursor: pointer;
}


@media only screen and (max-width: 638px) {

    .name {
        width: 230px;
    }
    .formContainer {
        width: 380px;
    }
}

@media only screen and (max-width: 420px) {

    .name {
        width: 150px;
    }

    .formContainer {
        width: 330px;
    }
}

@media only screen and (max-width: 388px) {

    .formContainer {
        width: 300px;
    }
}